<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="close" (click)="modalCtrl.dismiss()" />
    <ion-title>{{ topic.title }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container slides-per-view="1" speed="100" loop="false" css-mode="true" navigation="false" pagination="true">
    @for (item of topic.slides; track item) {
      <swiper-slide class="sld-pd">
        <ion-grid>
          <ion-img [src]="item.imagem" />
          <ion-text [innerHTML]="item.text" class="text" />
          <!-- Exemplo de como enviar data para a pagina anterior usando modal control dismiss -->
          <!-- <ion-button (click)="modalCtrl.dismiss(topic)" expand="block" fill="clear" shape="round">
            test
          </ion-button> -->
        </ion-grid>
      </swiper-slide>
    }
  </swiper-container>
</ion-content>